.ChatWrapper {
    display: flex;
    padding: 10px;
    border: 1px solid;

    .ChatLeft {
        border: 1px solid;
        WIDTH: 80%;

        .ChatTitle {
            display: flex;
            justify-content: center;
            font-size: 20px;
            color: white;
            margin: auto 2px;
        }

        .MessageBox {
            overflow-y: scroll;
            height: 90vh;
            overflow-x: hidden;

            .MessegeItemUser {
                display: flex;
                flex-direction: column;
                margin-left: 45%;
                background: #272A35;
                border-radius: 20px;
                position: relative;
                margin-top: 5px;
                padding: 5px;
                color: #FFFFFF;

                .MessegeSender {
                    display: flex;
                    text-align: right;
                    position: absolute;
                    top: 3%;
                    left: 2%;
                    margin: 0px;
                }

                .MessegeContent {
                    left: 5%;
                    width: 80%;
                    position: inherit;
                    overflow-wrap: break-word;
                }

                .MessegeTime {
                    left: 85%;
                    top: 55%;
                    position: absolute;
                    height: 0%;
                    margin: 0px;
                }
            }


            .MessegeItem {
                display: flex;
                flex-direction: column;
                margin-right: 40%;
                background: #565E70;
                border-radius: 20px;
                position: relative;
                margin-top: 5px;
                padding: 5px;
                color: #FFFFFF;

                .MessegeSender {
                    display: flex;
                    text-align: right;
                    position: absolute;
                    top: 3%;
                    left: 2%;
                    margin: 0px;
                }

                .MessegeContent {
                    left: 5%;
                    width: 80%;
                    position: inherit;
                    overflow-wrap: break-word;
                }

                .MessegeTime {
                    left: 85%;
                    top: 55%;
                    position: absolute;
                    height: 0%;
                    margin: 0px;
                }
            }
        }
    }

    .SendBox {
        width: 100%;
        height: 10%;

        .InputBox {
            background: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(2px);
            border-radius: 10px;
            overflow-wrap: break-word;
            width: 83%;
            height: 30px;
            border: none;
            font-size: 16px;
            color: white;
            padding: 5px;
        }

        .SendButton {
            background: #373E4E;
            border-radius: 10px;
            width: 15%;
            height: 37px;
            font-size: 20px;
            color: white;
            border: none;
        }
    }


    .ChatRight {
        border: 1px solid;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .You {
            height: 10%;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            font-size: 18px;
            color: #FFFFFF;
        }

        .UsersLabel {
            display: flex;
            justify-content: center;
            font-size: 20px;
            color: white;
            margin: auto 2px;
        }

        .ExitBtn {
            background: #373E4E;
            border-radius: 10px;
            width: 80%;
            height: 25px;
            font-size: 20px;
            color: white;
            border: none;
        }

        .UserList {
            height: 90%;
            width: 100%;
            text-align: center;
            border: 1px solid;
            padding: 10px 0px 10px 0px;

            .UserInList {
                font-size: 15px;
                line-height: 18px;
                align-items: flex-end;
                letter-spacing: 1px;
                text-transform: capitalize;
                color: #FFFFFF;
            }
        }
    }
}
